/lexiloop-backend/venv
/lexiloop-backend/.env
/lexiloop-backend/__pycache__/
/lexiloop-backend/app/__pycache__/
/lexiloop-backend/app/models/__pycache__/
/lexiloop-backend/app/services/__pycache__/
/lexiloop-backend/app/routes/__pycache__/
/lexiloop-backend/app/__init__.py 
/lexiloop-backend/app/services/__init__.py
/lexiloop-backend/app/routes/__init__.py

/lexiloop-react-extension/node_modules
/lexiloop-react-extension/dist
/lexiloop-react-extension/.env

/lexiloop-react-extension/logs
/lexiloop-react-extension/*.log
/lexiloop-react-extension/npm-debug.log*
/lexiloop-react-extension/yarn-debug.log*
/lexiloop-react-extension/yarn-error.log*
/lexiloop-react-extension/pnpm-debug.log*
/lexiloop-react-extension/lerna-debug.log*

/lexiloop-react-extension/node_modules
/lexiloop-react-extension/dist
/lexiloop-react-extension/dist-ssr
/lexiloop-react-extension/*.local

/lexiloop-react-extension/.vscode/*
/lexiloop-react-extension/!.vscode/extensions.json
/lexiloop-react-extension/.idea
/lexiloop-react-extension/.DS_Store
/lexiloop-react-extension/*.suo
/lexiloop-react-extension/*.ntvs*
/lexiloop-react-extension/*.njsproj
/lexiloop-react-extension/*.sln
/lexiloop-react-extension/*.sw?
